div{
    background-color: black;
    width: 300px;
    height: 200px;
    
}

p{
    color: white;
    font-size: 100px;
    
    &:nth-child(1) {
      animation: odlicz;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation: odlicz;
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation: odlicz 11s infinite ease;
      animation-delay: 2s;
    }
    &:nth-child(4) {
      animation: odlicz 11s infinite ease;
      animation-delay: 3s;
    }
    &:nth-child(5) {
      animation: odlicz 11s infinite ease;
      animation-delay: 4s;
    }
    &:nth-child(6) {
      animation: odlicz 11s infinite ease;
      animation-delay: 5s;
    }
    &:nth-child(7) {
      animation: odlicz 11s infinite ease;
      animation-delay: 6s;
    }
    &:nth-child(8) {
      animation: odlicz 11s infinite ease;
      animation-delay: 7s;
    }
    &:nth-child(9) {
      animation: odlicz 11s infinite ease;
      animation-delay: 8s;
    }
    &:nth-child(10) {
      animation: odlicz 11s infinite ease;
      animation-delay: 9s;
    }
}
@keyframes odlicz {
    0% {
        background-color: antiquewhite;
      }
      5% {
        opacity: 1;
        filter: blur(0.2rem);
      }
      10% {
        opacity: 1;
        filter: blur(0.2rem);
      }
      20% {
        opacity: 0;
        filter: blur(0.6rem);
      }
      100% {
        opacity: 0;
        filter: blur(0.6rem);
      }
    }